@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
}

.container {
  @apply max-w-[1140px] w-full mx-auto box-border p-5;
}

.title {
  @apply text-[#2d3748] text-[24px] font-semibold relative pl-10;
}

.title::before {
  content: "";
  position: absolute;
  background-color: #e2e8f0;
  width: 5px;
  height: 100%;
  left: 0;
  border-radius: 10px;
}

/* .card-hover-effect:hover .card {
  box-shadow: 1px 1px 5px 0 rgba(1, 1, 1, 0.05);
  margin-bottom: 10px;
}
 */

.category {
  @apply text-[#718096] text-[12px] bg-[#E2E8F0] font-semibold rounded-lg px-4 py-2 hover:bg-[#718096] hover:text-[#E2E8F0];
}

.large-article-title {
  @apply text-[24px] text-[#2D3748] font-semibold leading-snug;
}

.description {
  @apply text-sm text-[#718096] font-light leading-loose;
}

.author-img {
  @apply w-[48px] h-[48px] bg-[#E2E8F0] rounded-full;
}
